#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.text-white,
.text-white *,
.text-white *:visited {
  color: #fff;
}

.h-100 {
  height: 100%;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.results-wrapper {
  height: calc(100vh - 87.5px);
  overflow: hidden;
}

.results-container {
  scroll-behavior: smooth;
}

va-card .facility-idx {
  display: inline-block;
  padding: 0.5rem;
  background: #fff;
  color: #000;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#focused-facility va-card .facility-idx {
  background: #face00;
}

.va-location-marker {
  background: #efefef;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  border: 2px solid #face00;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.875rem;
  cursor: pointer;
}

va-card {
  position: relative;
  z-index: 0;
  color: #fff;
}

va-card .va-card__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

va-card::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.7);
  z-index: -1;
}

va-link {
  background: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 3px;
}